@charset "utf-8";
/* CSS Document */
p {
	margin-bottom:0px;
}
.error {
	background-color: #F00;
}
.warning {
	background-color: #FF0;
}
.description {
	max-width: 50%;
}

.snapshots {
	width: calc(calc(187px*3) + 10px);
}

h3 {
	margin-top: 0;
}